.main-heading {
    margin-bottom: 20px;
    margin-right: 350px;
    margin-left: 0px;
}

.destination-search-bar-section {
    display: flex;
    margin-top: 60px;
    margin-left: 150px;
}

.destination-search-box {
    height: 40px;
    width: 500px;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(209, 204, 204);
    padding-left: 15px;
}

.destination-search-button {
    height: 46px;
    width: 100px;
    margin-left: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color:rgb(209, 204, 204) ;
    padding-top: 4px;
}

.middle-content-div {
    display: grid;
    grid-template-columns: 1fr 400px;
}

.destination-card-div {
    margin-left: 150px;
    margin-top: 50px;
}

.destination-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(209, 204, 204);
    border-radius: 3px;
    margin-bottom: 30px;
}

.destination-card-image {
    width: 300px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.destination-card-text-div {
    margin-left: 10px;
}

.book-now-button {
    width: 130px;
    height: 36px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 6px;
    background-color: rgba(30, 19, 25, 0.6);
    color: rgb(238, 201, 114);
    border: none;
}

.destination-card-text {
    color:rgb(144, 136, 136) ;
}

.photo-gallery-div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.gallery-text {
    margin-top: 0px;
    margin-bottom: 30px;
}

.photo {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}