.footer-div {
    background-color: rgba(30, 19, 25, 0.6);
    color: rgb(238, 201, 114);
    padding-bottom: 30px;
    
}

.footer-text {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 400;
}
